@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}
#main-container{
    width:100vw;
    min-height:100vh;
    position: relative;
    overflow: hidden;
    
}

#main-container::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100%;
    background:rgba(0, 0, 0,0.6);
    z-index: 0;
    
}
.background{
    width: 100%;
    height: 100%;
}
.mycontainer{
    position: absolute;
    top:10px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.container{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    color: white;
}
.panel{
    font-family: 'Yantramanav', sans-serif;
    margin-left: 20px;
    width:300px;
}
.panel ul{
    height: 100%;
    margin: 0;
} 
.panel ul li{
    font-size:20px;
    color: #ccc;
    margin:10px 0 ;
    display: flex;
    justify-content: space-between;
}
.panel h4{
    font-size:25px;
}
.condition{
    font-size: 30px;
}

#temp{
    font-size:50px;
}
.info{
    font-family: 'Yantramanav', sans-serif;
    margin: 90px 0px 0 20vw;
    display: flex;
    height: 100%;
}
#extra-info ul{
    display: grid;
    grid-template-columns:auto auto;
}
#extra-info ul li{
  margin:2px 20px;
  z-index: 1;
}
.date-time-info{
    font-size: 40px;
}
#place-container{
    height: 100%;
    font-size: 20px;position: relative;
    left:10vw;
    text-align: center;
}
#search-input{
    position: absolute;
    top:20px;
    right: 10px;

}
.search{
    background: none;
    border: none;
    border:1px #ccc solid;
    padding:1em;
    width:300px;
    color: #fff;
    font-size:0.9em;
    z-index: 1;
    border-radius: 10px 0 10px 0;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: #ccc;
}
.submit{
    padding:10px;
    width:5vw;
    margin: 0;
    border: none;
    outline: none;
    background: #8c847f;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    transition: 0.4s;
    z-index: 1;
    border-radius: 10px 0 10px 0;
}
.submit:hover{
    background: #fff;
    color: #000;
}
#future-forecast{
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-shadow:-10px -10px 32px 0 rgba(253, 246, 246, 0.3);
    min-width:100vw;
    border: none;
    max-width: 100vw;
    height:100%;
    padding: 30px 3px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    color: #fff;
    
}
#future-forecast legend{
    font-size:30px;
}
#chart_div text {
    fill: rgb(160, 161, 163) !important;
}
#hourly{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0;
    width: 80%;
    border: none;
    height:35vh;
    color: white;
}

@media screen and (max-width:1020px){
    .info{
        margin-left:10px;
    }
    #place-container{
        left:2vw;
    }
    #future-forecast{
        height:35vh;
    }
    #main-container{
        min-height:920px;
        
    }
 }
@media screen and (max-width:890px){
    .info{
       display: flex;
       flex-direction: column;
       margin-left: 30px;
       text-align: center;
    }
   .panel ul{
        display: grid;
        grid-template-columns: auto auto auto;
        position: relative;
        left: -40px;
   }
   .panel ul li{
     margin:5px 10px;
   }
   #future-forecast{
    top: 65vh;
    overflow:scroll;
   }
   #hourly{
    top:100vh ;
    overflow:scroll;
   } 
    
}
@media screen and (max-width:640px){
    .date-time-info{
        font-size: 20px;
    }
    .info{
        margin-left:-40px;
    }
    #future-forecast{
        overflow:scroll;
        justify-content: flex-start;
       }  
}
@media screen and (max-width:490px){
    .info{
        margin-top:100px;
        margin-left:-90px;
    }
    .panel ul li{
        font-size: 16px;
    }
    .panel ul{
        left:-9px;
   }
   .search{
      width:180px;
      font-size: 10px;
   }
   .submit{
    font-size: 10px;
   }
}
@media screen and (max-width:370px){
    .info{
        overflow: auto;
        margin-top:75px;
        margin-left:-100px;
    }
    .date-time-info,
    #time-Zone,#country{
        font-size: 15px;
    }
}
